db:
  name: test
  host: mariadb
  user: user
  password: pass

{{ if eq .Environment.Name "production" }}
image:
  tag: {{ env "CIRCLE_TAG" }}
{{ else }}
environment: ci
image:
  tag: {{ env "CIRCLE_SHA1" }}
{{ end }}
