db:
  name: test
  host: mariadb
  user: user
  password: pass

{{ if eq .Environment.Name "production" }}
image:
  tag: {{ env "CIRCLE_TAG" }}
{{ else }}
environment: ci
image:
  tag: {{ env "CIRCLE_SHA1" }}
{{ end }}

polkadotRPC: "http://kusama-internal-rpc:9933"

celery:
  broker: "redis://redis-headless:6379/0"
  backend: "redis://redis-headless:6379/0"
