name: kusama-internal
deploymentName: kusama-internal
p2pPort: 30333
chainspec:
  custom: false
  preset: true
  name: "kusama"
validator: false
extraBootnodes: []
image:
  repo: parity/polkadot
  tag: v0.8.22
local: true
unsafeEndpointAccess: false
sessionInjection:
  enabled: false
extraArgs:
  common: "--pruning=archive"
