name: kusama-internal
deploymentName: kusama-internal
p2pPort: 30333
chainspec:
  custom: false
  preset: true
  name: "kusama-dev"
validator: true
extraBootnodes: []
image:
  repo: parity/polkadot
  tag: v0.8.12
local: true
unsafeEndpointAccess: true
sessionInjection:
  enabled: false
extraArgs:
  common: "--alice"
